<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Portfolio</title>
    <div th:replace="/fragments/styling :: head-style" ></div>
</head>
<body>

<div th:replace="/fragments/navbar :: navbar" ></div>

	<div class="jumbotron jumbotron-fluid">
	  <div class="container">
	    <h1 class="display-5">Branson Perkins' Portfolio</h1>
	    <p class="lead">On this site, you will find my projects, my resume, my LinkedIn, my GitHub and 
	    you will learn about me along the way.</p>
	  </div>
	</div>
	
<div th:replace="/fragments/styling :: body-links" ></div>

</body>

</html>